#map {
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    height:700px;
    width:100%;
    background-color:#000;
}

button {
    height:40px;
    width:200px;
    margin: -20px -50px;
    position:relative;
    top:50%;
    left:50%;

}

.btn-default {
    font-size: large;
}

body {
    background-image: url("../images/shady-forest1.jpg")
}